:root {
  --NEARWHITE: #fafafa;
  --WHITE: #fff;
  --MEDIUMGRAY: #a0a0a0;
  --DARKGRAY: #505050;
  --LIGHTGRAY: #f0f0f0;
  --SLATEBLACK: #191919;
  --SIGNATURE: #b39078;
  --NEARBLACK: #131313;
  --RED: #c40000;
  --NEARGRAY: #afafaf;
}
